Repository elastic/opentelemetry-collector-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/otel-devs, @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data, @elastic/obs-infraobs-integrations, @elastic/ecosystem, @elastic/elastic-agent-data-plane

.github/CODEOWNERS:

# Default owners
* @elastic/otel-devs

# Per-component owners
loadgen                                @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/loadgenreceiver               @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/elasticapmintakereceiver      @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/elasticinframetricsprocessor @elastic/obs-infraobs-integrations
processor/elasticapmprocessor          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/lsmintervalprocessor         @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/ratelimitprocessor           @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/integrationprocessor         @elastic/ecosystem @elastic/ingest-otel-data
connector/elasticapmconnector          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apikeyauthextension          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apmconfigextension           @elastic/ingest-otel-data
extension/beatsauthextension           @elastic/elastic-agent-data-plane
extension/fileintegrationextension     @elastic/ecosystem @elastic/ingest-otel-data
pkg/integrations                       @elastic/ecosystem @elastic/ingest-otel-data

Update processor.go (#758)
  processor/elasticapmprocessor/processor.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

WIP: Use trace provider in otelgrpc
  processor/ratelimitprocessor/factory.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
  processor/ratelimitprocessor/processor.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Fix error http otel semconv attribute translation.
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
  receiver/elasticapmintakereceiver/receiver.go
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Rename http and url helper functions in intakeV2ToSemConv.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Allow dynamic limiter to scale ingest rate below static limit
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update docs/readme
  processor/ratelimitprocessor/README.md
  processor/ratelimitprocessor/config.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update processor/ratelimitprocessor/README.md
  processor/ratelimitprocessor/README.md
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

better log msg and fix wait for test
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

debug check to avoid dict overhead
  processor/ratelimitprocessor/gubernator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Extending the apmconfigextension docs (#845)
  extension/apmconfigextension/README.md
Owners: @elastic/ingest-otel-data

chore: tidy go sum files
  connector/elasticapmconnector/go.sum
  processor/elastictraceprocessor/go.sum
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/otel-devs

fix: metadata keys order
  processor/lsmintervalprocessor/metadata.yaml
  processor/ratelimitprocessor/metadata.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Put a lower bound of 1 to the rate limit
  processor/ratelimitprocessor/README.md
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/gubernator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

fix: buffered request creation
  receiver/elasticapmintakereceiver/integration_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[receiver/elasticapmintake] Fix APM error http semconv translations (#849)
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
  receiver/elasticapmintakereceiver/receiver.go
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Allow dynamic limiter to scale ingest rate below static limit (#851)
  processor/ratelimitprocessor/README.md
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Updated OpAMP endpoint authentication docs
  extension/apmconfigextension/README.md
Owners: @elastic/ingest-otel-data

chore: clean duplicated entries
  versions.yaml
Owners: @elastic/otel-devs

docs: empathize in version checkout
  docs/release.md
Owners: @elastic/otel-devs

chore: clean duplicated entries (#860)
  docs/release.md
  versions.yaml
Owners: @elastic/otel-devs

Fix dynamic rate limit escalation metrics
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Fix test
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Handle spiky load pattern by limiting based on static rate
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

fix readme
  processor/ratelimitprocessor/gubernator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Fixed spelling
  extension/apmconfigextension/README.md
Owners: @elastic/ingest-otel-data

Updated OpAMP endpoint authentication docs (#864)
  extension/apmconfigextension/README.md
Owners: @elastic/ingest-otel-data

[processor/ratelimit] Use trace provider in gubernator grpc client (#848)
  processor/ratelimitprocessor/factory.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
  processor/ratelimitprocessor/processor.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Handle spiky load pattern by limiting based on static rate (#862)
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

support kerberos
  extension/beatsauthextension/authenticator.go
  extension/beatsauthextension/go.mod
  extension/beatsauthextension/go.sum
Owners: @elastic/elastic-agent-data-plane

add kerberos logic
  extension/beatsauthextension/authenticator.go
Owners: @elastic/elastic-agent-data-plane

fix documentation
  extension/beatsauthextension/authenticator.go
  extension/beatsauthextension/go.mod
  extension/beatsauthextension/go.sum
Owners: @elastic/elastic-agent-data-plane

go mod tidy
  extension/beatsauthextension/go.mod
Owners: @elastic/elastic-agent-data-plane

remove old comment
  loadgen/cmd/otelsoak/config.example.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

remove old comment (#866)
  loadgen/cmd/otelsoak/config.example.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Add missing supported otel sem conv attributes to ecs translation
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Add missing supported APM/ECS sem conv attributes to ecs translation
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update `processor_test` to "smoke test" recently added fields
  processor/elasticapmprocessor/processor_test.go
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/input.yaml
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/output.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Refactor overrides to allow simpler matching expressions
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
  processor/ratelimitprocessor/local.go
  processor/ratelimitprocessor/ratelimiter.go
  processor/ratelimitprocessor/testdata/config.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update readme
  processor/ratelimitprocessor/README.md
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Fix typo
  processor/ratelimitprocessor/config_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services
