Repository elastic/opentelemetry-collector-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/otel-devs, @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data, @elastic/obs-infraobs-integrations, @elastic/ecosystem, @elastic/elastic-agent-data-plane

.github/CODEOWNERS:

# Default owners
* @elastic/otel-devs

# Per-component owners
loadgen                                @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/loadgenreceiver               @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/elasticapmintakereceiver      @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/elasticinframetricsprocessor @elastic/obs-infraobs-integrations
processor/elasticapmprocessor          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/lsmintervalprocessor         @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/ratelimitprocessor           @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/integrationprocessor         @elastic/ecosystem @elastic/ingest-otel-data
connector/elasticapmconnector          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apikeyauthextension          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apmconfigextension           @elastic/ingest-otel-data
extension/beatsauthextension           @elastic/elastic-agent-data-plane
extension/fileintegrationextension     @elastic/ecosystem @elastic/ingest-otel-data
pkg/integrations                       @elastic/ecosystem @elastic/ingest-otel-data

make gotidy
  processor/ratelimitprocessor/go.mod
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

make fmt
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Add removed `string(semconv26.DeploymentEnvironmentKey)` supported field
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Add removed `container.image.tag` supported field
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Updates `ecs/elastic_span_db` test cases to include all supported OTEL semconv attributes
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/input.yaml
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/output.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Refactor overrides to allow simpler matching expressions (#871)
  processor/ratelimitprocessor/README.md
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/go.mod
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
  processor/ratelimitprocessor/local.go
  processor/ratelimitprocessor/ratelimiter.go
  processor/ratelimitprocessor/testdata/config.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

update metadata and comment
  extension/apikeyauthextension/authenticator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update `ecs_translation.go` to use constants for ecs resource attributes and update test case
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/input.yaml
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/output.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

(ratelimitprocessor): treat gubernator failures as retryable errors
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
  processor/ratelimitprocessor/ratelimiter.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

(ratelimitprocessor): treat gubernator failures as retryable errors (#873)
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
  processor/ratelimitprocessor/ratelimiter.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

checkpoint
  distributions/elastic-components/README.md
  distributions/elastic-components/manifest.yaml
  distributions/elastic-components/minimal-config.yaml
  distributions/elastic-components/production-config.yaml
  distributions/elastic-components/sample-config.yaml
  distributions/elastic-components/simple-manifest.yaml
  distributions/elastic-components/ultra-simple-manifest.yaml
  distributions/elastic-components/working-config.yaml
  extension/elasticpipelineextension/BUILD_STATUS.md
  extension/elasticpipelineextension/IMPLEMENTATION.md
  extension/elasticpipelineextension/Makefile
  extension/elasticpipelineextension/README.md
  extension/elasticpipelineextension/config.go
  extension/elasticpipelineextension/config_test.go
  extension/elasticpipelineextension/doc.go
  extension/elasticpipelineextension/extension.go
  extension/elasticpipelineextension/factory.go
  extension/elasticpipelineextension/factory_test.go
  extension/elasticpipelineextension/go.mod
  extension/elasticpipelineextension/go.sum
  extension/elasticpipelineextension/internal/elasticsearch/client.go
  extension/elasticpipelineextension/internal/elasticsearch/fetcher.go
  extension/elasticpipelineextension/internal/elasticsearch/watcher.go
  extension/elasticpipelineextension/internal/metadata/generated_status.go
  extension/elasticpipelineextension/internal/pipeline/component_factory.go
  extension/elasticpipelineextension/internal/pipeline/config_merger.go
  extension/elasticpipelineextension/internal/pipeline/consumer_chain.go
  extension/elasticpipelineextension/internal/pipeline/manager.go
  extension/elasticpipelineextension/internal/pipeline/pipeline_lifecycle.go
  extension/elasticpipelineextension/internal/pipeline/signal_utils.go
  extension/elasticpipelineextension/metadata.yaml
  extension/elasticpipelineextension/testdata/config.yaml
Owners: @elastic/otel-devs

format error check statement
  extension/apikeyauthextension/authenticator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

test: add http error to simulate proxy error
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

update proxy test
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

(ratelimitprocessor): measure ingested uncompressed bytes before limits
  processor/ratelimitprocessor/documentation.md
  processor/ratelimitprocessor/generated_component_test.go
  processor/ratelimitprocessor/generated_package_test.go
  processor/ratelimitprocessor/internal/metadata/generated_telemetry.go
  processor/ratelimitprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/ratelimitprocessor/internal/metadatatest/generated_telemetrytest_test.go
  processor/ratelimitprocessor/metadata.yaml
  processor/ratelimitprocessor/processor.go
  processor/ratelimitprocessor/processor_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

fix go generate
  processor/ratelimitprocessor/generated_component_test.go
  processor/ratelimitprocessor/generated_package_test.go
  processor/ratelimitprocessor/internal/metadatatest/generated_telemetrytest_test.go
  processor/ratelimitprocessor/metadata.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

make gotidy
  loadgen/cmd/otelbench/go.mod
  loadgen/cmd/otelbench/go.sum
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

ratelimit: add decision attributes to request size
  processor/ratelimitprocessor/processor.go
  processor/ratelimitprocessor/processor_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

ratelimit: add decision attributes to request size (#876)
  processor/ratelimitprocessor/processor.go
  processor/ratelimitprocessor/processor_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

[processor/elasticapm] Update processor to handle new supported fields (#867)
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
  processor/elasticapmprocessor/processor_test.go
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/input.yaml
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/output.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

update error msg
  extension/apikeyauthextension/authenticator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

update error code if ES dial connection error (#797)
  extension/apikeyauthextension/authenticator.go
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

fix unit test
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

fix unit test
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

fix unit test (#877)
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update `service.target` attributes to be set at the record level for spans, transactions, and errors and set `transaction.id` for spans
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToDerivedFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Remove `process.title` for log mapping since it only needs to be set at the resource level
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Change `process.args` from joined string to array. This avoids having to unsplit the string at export time
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Remove `service.language` from elastic specific fields since the OTEL SemConv attribute is used
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Fix semconv attr name for `event.Http.Response.EncodedBodySize`
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Fix typos in fields names '.' instead of "_"
  receiver/elasticapmintakereceiver/internal/attributes.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update expected test files
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/invalid_ids_expected.yaml
  receiver/elasticapmintakereceiver/testdata/logs_expected.yaml
  receiver/elasticapmintakereceiver/testdata/spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Refactor `setDerivedServiceTargetAttributes` to `setCommonDerivedRecordAttributes` to map more shared attributes
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToDerivedFields.go
  receiver/elasticapmintakereceiver/testdata/logs_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update log processing to map derived values
  receiver/elasticapmintakereceiver/receiver.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[receiver/elasticapmintake] Apm intake trace updates (#878)
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToDerivedFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
  receiver/elasticapmintakereceiver/receiver.go
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/invalid_ids_expected.yaml
  receiver/elasticapmintakereceiver/testdata/logs_expected.yaml
  receiver/elasticapmintakereceiver/testdata/spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

fix
  distributions/elastic-components/config.yaml
  distributions/elastic-components/manifest.yaml
  distributions/elastic-components/minimal-config.yaml
  distributions/elastic-components/production-config.yaml
  distributions/elastic-components/sample-config.yaml
  distributions/elastic-components/simple-manifest.yaml
  distributions/elastic-components/ultra-simple-manifest.yaml
  distributions/elastic-components/working-config.yaml
Owners: @elastic/otel-devs

Update the apm intake receiver to correctly map the http request body to `http.request.body.original`
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/hostdata_expected.yaml
  receiver/elasticapmintakereceiver/testdata/invalid_ids_expected.yaml
  receiver/elasticapmintakereceiver/testdata/language_name_mapping_expected.yaml
  receiver/elasticapmintakereceiver/testdata/span-links_expected.yaml
  receiver/elasticapmintakereceiver/testdata/spans.ndjson
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update the elasticapmintake receiver and elasticapm processor to correctly handle labels with a slice value.
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/input.yaml
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/output.yaml
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/testdata/spans_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update the elasticapmintake receiver to use APM attribute name when mapping the `event.Message.RoutingKey`. The routing key represents a general message routing key and it is not specific to RabbitMQ
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
  receiver/elasticapmintakereceiver/testdata/spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data
