Repository elastic/opentelemetry-collector-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/otel-devs, @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data, @elastic/obs-infraobs-integrations, @elastic/ecosystem, @elastic/elastic-agent-data-plane

.github/CODEOWNERS:

# Default owners
* @elastic/otel-devs

# Per-component owners
loadgen                                @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/loadgenreceiver               @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/elasticapmintakereceiver      @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/elasticinframetricsprocessor @elastic/obs-infraobs-integrations
processor/elasticapmprocessor          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/lsmintervalprocessor         @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/ratelimitprocessor           @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/integrationprocessor         @elastic/ecosystem @elastic/ingest-otel-data
connector/elasticapmconnector          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apikeyauthextension          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apmconfigextension           @elastic/ingest-otel-data
extension/beatsauthextension           @elastic/elastic-agent-data-plane
extension/fileintegrationextension     @elastic/ecosystem @elastic/ingest-otel-data
pkg/integrations                       @elastic/ecosystem @elastic/ingest-otel-data

Add gubernator behavior config
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/testdata/config.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

chore(deps): update otelcol
  distributions/elastic-components/manifest.yaml
Owners: @elastic/otel-devs

profilingmetricsconnector: Update tests
  connector/profilingmetricsconnector/frame_test.go
Owners: @elastic/otel-devs

profilingmetricsconnector: Add kernel stacktrace classification
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Use passed-in logger
  connector/profilingmetricsconnector/connector.go
  connector/profilingmetricsconnector/factory.go
  connector/profilingmetricsconnector/frame.go
  connector/profilingmetricsconnector/go.mod
Owners: @elastic/otel-devs

Minor update
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

profilingmetricsconnector: Add syscall metric
  connector/profilingmetricsconnector/frame.go
  connector/profilingmetricsconnector/frame_test.go
Owners: @elastic/otel-devs

profilingmetricsconnector: Simplify
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Add more tests (multiple timestamps)
  connector/profilingmetricsconnector/frame_test.go
Owners: @elastic/otel-devs

Minor update
  connector/profilingmetricsconnector/frame_test.go
Owners: @elastic/otel-devs

chore(deps): update otelcol (#892)
  distributions/elastic-components/manifest.yaml
Owners: @elastic/otel-devs

Add stability levels in ratelimitprocessor
  processor/lsmintervalprocessor/documentation.md
  processor/lsmintervalprocessor/internal/metadata/generated_telemetry.go
  processor/lsmintervalprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/ratelimitprocessor/documentation.md
  processor/ratelimitprocessor/internal/metadata/generated_telemetry.go
  processor/ratelimitprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/ratelimitprocessor/metadata.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

make gotidy for traceprocessor
  processor/elastictraceprocessor/go.mod
  processor/elastictraceprocessor/go.sum
Owners: @elastic/otel-devs

Add comments to clarify logic
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Simplify classification logic
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Minor doc update
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Better leaf frame processing
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Minor cleanups
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Fix gubernator peer info address
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Use same address as gubernator functional test
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Fix gubernatorRateLimiter.Start respawning existing daemon
  processor/ratelimitprocessor/gubernator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Better kernel metric attribute names
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Minor update
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

Add gubernator behavior to default config
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/testdata/config.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

deprecate inframetrics processor
  processor/elasticinframetricsprocessor/README.md
  processor/elasticinframetricsprocessor/metadata.yaml
Owners: @elastic/obs-infraobs-integrations

Set UA to constant
  extension/apikeyauthextension/authenticator.go
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Fix test
  extension/apikeyauthextension/authenticator.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update test
  extension/apikeyauthextension/authenticator.go
  extension/apikeyauthextension/authenticator_test.go
  extension/apikeyauthextension/factory.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

gotidy
  connector/elasticapmconnector/go.sum
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update assert message
  extension/apikeyauthextension/authenticator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

[receiver/elasticapmintake][processor/elasticapm] Updates to correctly handle APM spans and transactions (#889)
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/input.yaml
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/output.yaml
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/hostdata_expected.yaml
  receiver/elasticapmintakereceiver/testdata/invalid_ids_expected.yaml
  receiver/elasticapmintakereceiver/testdata/language_name_mapping_expected.yaml
  receiver/elasticapmintakereceiver/testdata/span-links_expected.yaml
  receiver/elasticapmintakereceiver/testdata/spans.ndjson
  receiver/elasticapmintakereceiver/testdata/spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[processor/ratelimit] Fix gubernator peer info address in testing (#894)
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Add gubernator behavior to README; Use gubernator.Behavior in config
  processor/ratelimitprocessor/README.md
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/testdata/config.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Test all gubernator behaviors
  processor/ratelimitprocessor/README.md
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Update test run name with behavior string
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

docs: add single component release instructions
  README.md
  docs/release.md
Owners: @elastic/otel-devs

fix: headers level
  docs/release.md
Owners: @elastic/otel-devs

[extension/apikeyauth] Set user-agent (#901)
  extension/apikeyauthextension/authenticator.go
  extension/apikeyauthextension/authenticator_test.go
  extension/apikeyauthextension/factory.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

plan
  raw_sampling_implementation_plan.md
  raw_sampling_plan.md
Owners: @elastic/otel-devs

checkpoint
  distributions/elastic-components/config.sampling.yaml
  distributions/elastic-components/manifest.yaml
  extension/rawsamplingbuffer/Makefile
  extension/rawsamplingbuffer/README.md
  extension/rawsamplingbuffer/buffer/circular_buffer.go
  extension/rawsamplingbuffer/config.go
  extension/rawsamplingbuffer/doc.go
  extension/rawsamplingbuffer/extension.go
  extension/rawsamplingbuffer/factory.go
  extension/rawsamplingbuffer/go.mod
  extension/rawsamplingbuffer/go.sum
  extension/rawsamplingbuffer/internal/buffer/circular_buffer.go
  extension/rawsamplingbuffer/metadata.yaml
  processor/rawcapture/Makefile
  processor/rawcapture/README.md
  processor/rawcapture/config.go
  processor/rawcapture/doc.go
  processor/rawcapture/factory.go
  processor/rawcapture/go.mod
  processor/rawcapture/go.sum
  processor/rawcapture/metadata.yaml
  processor/rawcapture/processor.go
  processor/rawretriever/Makefile
  processor/rawretriever/README.md
  processor/rawretriever/config.go
  processor/rawretriever/doc.go
  processor/rawretriever/factory.go
  processor/rawretriever/go.mod
  processor/rawretriever/go.sum
  processor/rawretriever/metadata.yaml
  processor/rawretriever/processor.go
  processor/samplingdecide/Makefile
  processor/samplingdecide/README.md
  processor/samplingdecide/config.go
  processor/samplingdecide/doc.go
  processor/samplingdecide/factory.go
  processor/samplingdecide/go.mod
  processor/samplingdecide/go.sum
  processor/samplingdecide/metadata.yaml
  processor/samplingdecide/processor.go
Owners: @elastic/otel-devs
