Repository elastic/opentelemetry-collector-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/otel-devs, @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data, @elastic/obs-infraobs-integrations, @elastic/ecosystem, @elastic/elastic-agent-data-plane

.github/CODEOWNERS:

# Default owners
* @elastic/otel-devs

# Per-component owners
loadgen                                @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/loadgenreceiver               @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/elasticapmintakereceiver      @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/elasticinframetricsprocessor @elastic/obs-infraobs-integrations
processor/elasticapmprocessor          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/ingest-otel-data
processor/lsmintervalprocessor         @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/ratelimitprocessor           @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/integrationprocessor         @elastic/ecosystem @elastic/ingest-otel-data
connector/elasticapmconnector          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apikeyauthextension          @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apmconfigextension           @elastic/ingest-otel-data
extension/beatsauthextension           @elastic/elastic-agent-data-plane
extension/fileintegrationextension     @elastic/ecosystem @elastic/ingest-otel-data
pkg/integrations                       @elastic/ecosystem @elastic/ingest-otel-data

checkpoint
  distributions/elastic-components/config.sampling.yaml
  distributions/elastic-components/manifest.yaml
Owners: @elastic/otel-devs

ci: add opentelemetry-lib to dependabot otel group
  .github/dependabot.yml
Owners: @elastic/otel-devs

checkpoint
  distributions/elastic-components/README.md
  distributions/elastic-components/SAMPLING.md
  distributions/elastic-components/config.sampling.yaml
  distributions/elastic-components/run-sampling.sh
  distributions/elastic-components/test-sampling.sh
  docs/raw-sampling.md
Owners: @elastic/otel-devs

checkpoint
  distributions/elastic-components/config.sampling.yaml
  processor/samplingdecide/processor.go
Owners: @elastic/otel-devs

checkpoint
  distributions/elastic-components/config.sampling.yaml
  distributions/elastic-components/manifest.yaml
  docs/raw-sample-exporter-plan.md
  exporter/rawsampleexporter/Makefile
  exporter/rawsampleexporter/README.md
  exporter/rawsampleexporter/config.go
  exporter/rawsampleexporter/doc.go
  exporter/rawsampleexporter/errors.go
  exporter/rawsampleexporter/exporter.go
  exporter/rawsampleexporter/factory.go
  exporter/rawsampleexporter/generated_component_test.go
  exporter/rawsampleexporter/generated_package_test.go
  exporter/rawsampleexporter/go.mod
  exporter/rawsampleexporter/internal/metadata/generated_status.go
  exporter/rawsampleexporter/metadata.yaml
Owners: @elastic/otel-devs

Remove behavior field in rate limiter
  processor/ratelimitprocessor/gubernator.go
  processor/ratelimitprocessor/gubernator_test.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

checkpoint
  distributions/elastic-components/SAMPLING.md
  distributions/elastic-components/config.sampling.yaml
  exporter/rawsampleexporter/exporter.go
Owners: @elastic/otel-devs

ci: add opentelemetry-lib to dependabot otel group (#903)
  .github/dependabot.yml
Owners: @elastic/otel-devs

checkpoint
  exporter/rawsampleexporter/exporter.go
Owners: @elastic/otel-devs

checkpoint
  distributions/elastic-components/DYNAMIC_SAMPLING.md
  distributions/elastic-components/DYNAMIC_SAMPLING_QUICKSTART.md
  distributions/elastic-components/SAMPLING.md
  distributions/elastic-components/config.sampling.yaml
  distributions/elastic-components/manage-sampling-rules.sh
  distributions/elastic-components/manifest.yaml
  extension/samplingconfigextension/Makefile
  extension/samplingconfigextension/README.md
  extension/samplingconfigextension/config.go
  extension/samplingconfigextension/doc.go
  extension/samplingconfigextension/errors.go
  extension/samplingconfigextension/extension.go
  extension/samplingconfigextension/factory.go
  extension/samplingconfigextension/go.mod
  extension/samplingconfigextension/metadata.yaml
  pkg/samplingconfig/go.mod
  pkg/samplingconfig/interface.go
  processor/samplingdecide/config.go
  processor/samplingdecide/go.mod
  processor/samplingdecide/processor.go
Owners: @elastic/otel-devs

checkpoint
  distributions/elastic-components/config.sampling.yaml
  distributions/elastic-components/manifest.yaml
  distributions/elastic-components/test-sampling.sh
  docs/dynamic-processor-injection.md
  docs/dynamic-transform-processor-implementation-plan.md
  docs/sampling-dynamic-pipeline-integration-summary.md
  extension/elasticpipelineextension/README.md
  extension/elasticpipelineextension/config.go
  extension/elasticpipelineextension/config_test.go
  extension/elasticpipelineextension/extension.go
  extension/elasticpipelineextension/factory.go
  extension/elasticpipelineextension/integration_config_test.go
  extension/elasticpipelineextension/internal/pipeline/component_factory.go
  extension/elasticpipelineextension/internal/pipeline/config_merger.go
  extension/elasticpipelineextension/internal/pipeline/consumer_chain.go
  extension/elasticpipelineextension/internal/pipeline/manager.go
  extension/elasticpipelineextension/internal/pipeline/pipeline_lifecycle.go
  processor/elasticdynamictransform/Makefile
  processor/elasticdynamictransform/README.md
  processor/elasticdynamictransform/config.go
  processor/elasticdynamictransform/doc.go
  processor/elasticdynamictransform/factory.go
  processor/elasticdynamictransform/generated_component_test.go
  processor/elasticdynamictransform/generated_package_test.go
  processor/elasticdynamictransform/go.mod
  processor/elasticdynamictransform/go.sum
  processor/elasticdynamictransform/metadata.yaml
  processor/elasticdynamictransform/processor.go
  processor/samplingdecide/processor.go
Owners: @elastic/otel-devs

checkpoint
  distributions/elastic-components/config.sampling.yaml
  distributions/elastic-components/test-sampling.sh
  extension/elasticpipelineextension/extension.go
  processor/elasticdynamictransform/config.go
  processor/elasticdynamictransform/doc.go
  processor/elasticdynamictransform/factory.go
  processor/elasticdynamictransform/go.mod
  processor/elasticdynamictransform/go.sum
  processor/elasticdynamictransform/processor.go
Owners: @elastic/otel-devs

Update `event.Span.Composite.Sum` attribute name and use double instead of int
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update mapping to avoid setting empty fields
  receiver/elasticapmintakereceiver/internal/mappers/attribute_helper.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToDerivedFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update `event.Span.Action` to only be set when it is not empty
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToDerivedFields.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update span kind logic to first attempt to enumerate the provided span.kind value before attempting to derive
  receiver/elasticapmintakereceiver/receiver.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update expected test files
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/hostdata_expected.yaml
  receiver/elasticapmintakereceiver/testdata/invalid_ids_expected.yaml
  receiver/elasticapmintakereceiver/testdata/language_name_mapping_expected.yaml
  receiver/elasticapmintakereceiver/testdata/metricsets_expected.yaml
  receiver/elasticapmintakereceiver/testdata/span-links_expected.yaml
  receiver/elasticapmintakereceiver/testdata/spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Run make license-update
  receiver/elasticapmintakereceiver/internal/mappers/attribute_helper.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

checkpoint
  distributions/elastic-components/config.sampling.yaml
  exporter/rawsampleexporter/exporter.go
  processor/elasticdynamictransform/processor.go
  processor/rawretriever/processor.go
  processor/samplingdecide/processor.go
Owners: @elastic/otel-devs

[processor/ratelimit] Cleanup deprecated overrides
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/testdata/config.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

make gotidy
  processor/ratelimitprocessor/go.mod
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

[processor/ratelimit] Cleanup deprecated overrides (#907)
  processor/ratelimitprocessor/config.go
  processor/ratelimitprocessor/config_test.go
  processor/ratelimitprocessor/go.mod
  processor/ratelimitprocessor/testdata/config.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services

Run make goporto
  receiver/elasticapmintakereceiver/internal/mappers/attribute_helper.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Add Cilium note
  connector/profilingmetricsconnector/frame.go
Owners: @elastic/otel-devs

profilingmetricsconnector: Add kernel stacktrace classification (#882)
  connector/profilingmetricsconnector/connector.go
  connector/profilingmetricsconnector/factory.go
  connector/profilingmetricsconnector/frame.go
  connector/profilingmetricsconnector/frame_test.go
  connector/profilingmetricsconnector/go.mod
Owners: @elastic/otel-devs

skip log/metric enrichment based on mapping mode
  processor/elasticapmprocessor/config.go
  processor/elasticapmprocessor/processor.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

doc: update readme with extra config option
  processor/elasticapmprocessor/README.md
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

test[elasticapmprocessor]: add skip enrichment unit tests
  processor/elasticapmprocessor/processor_test.go
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_no_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_no_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_no_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_no_ecs_output.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

minor update to rl-values
  processor/elasticapmprocessor/processor.go
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[receiver/elasticapmintake] Apm intake span updates (#905)
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/attribute_helper.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToDerivedFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToSemConv.go
  receiver/elasticapmintakereceiver/receiver.go
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/hostdata_expected.yaml
  receiver/elasticapmintakereceiver/testdata/invalid_ids_expected.yaml
  receiver/elasticapmintakereceiver/testdata/language_name_mapping_expected.yaml
  receiver/elasticapmintakereceiver/testdata/metricsets_expected.yaml
  receiver/elasticapmintakereceiver/testdata/span-links_expected.yaml
  receiver/elasticapmintakereceiver/testdata/spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

skip log & metric enrichment (#908)
  processor/elasticapmprocessor/README.md
  processor/elasticapmprocessor/config.go
  processor/elasticapmprocessor/processor.go
  processor/elasticapmprocessor/processor_test.go
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_false_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_no_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/logs_true_no_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_false_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_ecs_output.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_no_ecs_input.yaml
  processor/elasticapmprocessor/testdata/skip_enrichment/metrics_true_no_ecs_output.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[receiver/elaticapmintake][processor/elasticapm] Fix faas trigger request_id attribute name.
  processor/elasticapmprocessor/internal/ecs/ecs_translation.go
  processor/elasticapmprocessor/testdata/ecs/elastic_span_db/output.yaml
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/testdata/logs_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[receiver/elaticapmintake] Add faas attributes to metricsets.ndjson testdata
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/testdata/metricsets.ndjson
  receiver/elasticapmintakereceiver/testdata/metricsets_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[receiver/elaticapmintake] Fix `http.request.env` and `http.request.cookie` mapping.
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

Update test data to include numeric values for `http.request.env` and `http.request.cookie attributes
  receiver/elasticapmintakereceiver/testdata/errors.ndjson
  receiver/elasticapmintakereceiver/testdata/errors_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions.ndjson
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
  receiver/elasticapmintakereceiver/testdata/transactions_spans.ndjson
  receiver/elasticapmintakereceiver/testdata/transactions_spans_expected.yaml
  receiver/elasticapmintakereceiver/testdata/unknown-span-type.ndjson
  receiver/elasticapmintakereceiver/testdata/unknown-span-type_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[receiver/elaticapmintake] Add mappings for transaction `session` attributes.go
  receiver/elasticapmintakereceiver/internal/attributes.go
  receiver/elasticapmintakereceiver/internal/mappers/intakeV2ToElasticSpecificFields.go
  receiver/elasticapmintakereceiver/testdata/transactions_expected.yaml
Owners: @elastic/obs-ds-intake-services, @elastic/obs-ds-hosted-services, @elastic/ingest-otel-data

[profilingtometrics]: remove metrics_prefix configuration option
  connector/profilingmetricsconnector/config.go
  connector/profilingmetricsconnector/connector.go
  connector/profilingmetricsconnector/connector_test.go
  connector/profilingmetricsconnector/frame.go
  connector/profilingmetricsconnector/frame_test.go
Owners: @elastic/otel-devs

chore: go mod tidy
  connector/profilingmetricsconnector/go.mod
  connector/profilingmetricsconnector/go.sum
Owners: @elastic/otel-devs

revert formatting changes
  connector/profilingmetricsconnector/frame.go
  connector/profilingmetricsconnector/frame_test.go
Owners: @elastic/otel-devs
